/* GoDotGov */

.help {
    background-color: var(--color-6);
    margin-top: var(--size-6);
    padding-bottom: var(--size-6);
    padding-top: var(--size-6);
}

.section {
    border-bottom: var(--size-2) var(--color-6) solid;
    margin-bottom: var(--size-6);
    padding-bottom: var(--size-5);
}

.section2 {
    border-bottom: var(--size-2) var(--color-4) solid;
    margin-bottom: var(--size-6);
    padding-bottom: var(--size-4);
}

.clean .card {
    background-color: var(--color-6);
}

main .fa-solid {
    color: var(--color-1);
}