<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="display-4">{{ page.title }}</h1>
                {% if page.description %}
                <p class="lead">{{ page.description }}</p>
                {% endif %}
                <p>Search available .gov domains (example: dotgov.gov): </p>
                <form class="domain-form form-inline">
                    <div class="form-group">
                        <input type="text" class="search-domains form-control form-control-lg mr-1">
                        <button type="submit" class="btn btn-outline-dark btn-lg"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
                <p><small>Source: <a href="https://home.dotgov.gov/data/">dotgov.gov</a></small></p>
                <div class="url-result"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/domain-search.js"></script>