---
layout: home
---

{% include header.html %}
{% include nav.html %}
<main>

    <!-- Jumbotron -->

    {% include jumbotron.html %}

    <!-- Why -->

    <div class="container section">
        <div class="row">
            <div class="col-sm-4 text-center">
                <i class="{{ page.why-icon }} {{ site.data.icons.lg}}"></i>
            </div>
            <div class="col-sm-8">
                <h2>{{ page.why-head }}</h2>
                <p>{{ page.why-description }}</p>
            </div>
        </div>
    </div>

    <!-- Who -->

    <div class="container section">
        <div class="row">
            <div class="col-sm-4 text-center">
                <i class="{{ page.who-icon }} {{ site.data.icons.lg}}"></i>
            </div>
            <div class="col-sm-8">
                <h2>{{ page.who-head }}</h2>
                <p>Only U.S.-based government and public sector organizations are eligible to obtain a .gov domain,
                    including any:</p>
                <ul>
                    <li>federal, state, local, or territorial government entity, or other publicly controlled entity
                    </li>
                    <li>tribal government recognized by the federal government or a state government</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- What -->

    <div class="container section">
        <div class="row">
            <div class="col-sm-4 text-center">
                <i class="{{ page.what-icon }} {{ site.data.icons.lg}}"></i>
            </div>
            <div class="col-sm-8">
                <h2>{{ page.what-head }}</h2>
                <p>{{ page.what-description }}</p>
            </div>
        </div>
    </div>

    <!-- How -->

    <div class="container section">
        <div class="row">
            <div class="col-sm-4 text-center">
                <i class="{{ page.how-icon }} {{ site.data.icons.lg}}"></i>
            </div>
            <div class="col-sm-8">
                <h2>{{ page.how-head }}</h2>
                <ol>
                    <li>Complete and submit your authorization letter.</li>
                    <li>DotGov will review, verify and create .gov registrar accounts for each point of
                        contact.</li>
                    <li>Point of contacts login to set up DotGov accounts (one POC must complete the online domain
                        request form).</li>
                    <li>DotGov will review/approve your request.</li>
                </ol>
            </div>
        </div>
    </div>

    <!-- Go -->

    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <i class="{{ page.go-icon }} {{ site.data.icons.lg}}"></i>
            </div>
            <div class="col-sm-8">
                <h2>{{ page.go-head }}</h2>
                <ul>
                    <li><a href="https://domains.dotgov.gov/dotgov-web/registration/whois.xhtml">Check .gov
                            availability</a></li>
                    <li><a href="https://home.dotgov.gov/registration/authorization-templates/">Complete
                            authorization letter</a> (send to <a href="mailto:registrar@dotgov">registrar@dotgov</a>)
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="help">

        <!-- FAQs -->

        <div class="container section2">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page.faq-head }}</h2>
                    <div class="accordion" id="accordionExample">
                        {% for item in site.data.faqs.docs %}
                        <div class="card">
                            <div class="card-header" id="{{ item.heading }}">
                                <h3>
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#{{ item.id }}" aria-expanded="false"
                                        aria-controls="{{ item.id }}">
                                        {{ item.title }}
                                    </button>
                                </h3>
                            </div>
                            <div id="{{ item.id }}" class="collapse" aria-labelledby="{{ item.heading }}"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    {{ item.description }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Call to action -->

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page.cta-head }}</h2>
                    <div class="card-deck clean">
                        {% if page.cta-title1 %}
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-body">
                                    <p><i class="{{ page.cta-icon1 }} {{ site.data.icons.md }}"></i></p>
                                    <h3>{{ page.cta-title1 }}</h3>
                                    <p><a href="{{ page.cta-url1 }}"
                                            class="stretched-link">{{ page.cta-description1 }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if page.cta-title2 %}
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-body">
                                    <p><i class="{{ page.cta-icon2 }} {{ site.data.icons.md }}"></i></p>
                                    <h3>{{ page.cta-title2 }}</h3>
                                    <p><a href="{{ page.cta-url2 }}"
                                            class="stretched-link">{{ page.cta-description2 }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if page.cta-title3 %}
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-body">
                                    <p><i class="{{ page.cta-icon3 }} {{ site.data.icons.md }}"></i></p>
                                    <h3>{{ page.cta-title3 }}</h3>
                                    <p><a href="{{ page.cta-url3 }}"
                                            class="stretched-link">{{ page.cta-description3 }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
{% include analytics.html %}
{% include footer.html %}